/*VARIABLES*/
:root {
  --primary-color: rgb(14, 24, 24);
  --secondary-color: rgb(145, 144, 140);
  --highlight-color: rgb(234, 31, 73);
}

/*RESETS*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }


  body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  }



  /* GLOBAL CLASES*/


.underline{
	width: 150px;
	border: 2px solid rgb(0, 0, 0);
	margin: auto;
}

/* CUSTOM STYLES */

/* Navigation bar and navigation section custom css*/

.navbar{
  background-color: var(--primary-color) !important;
}


.h1 {
  color: var(--highlight-color) !important;
 
}

.nav-link {
  color: var(--secondary-color) !important;
  text-decoration: none !important;
  
}

.nav-link:hover {
  color: var(--highlight-color) !important;
 
}


/* Hero section custom css*/

.hero figure img{
  width: 60%;
  height: auto;
 
}

.name{
  color: var(--secondary-color) !important;
}

.name a {
  color: var(--secondary-color) !important;
}

.name a:hover {
  color: var(--highlight-color) !important;
 
}


/* Work section custom css*/

.card {

  background-color: rgb(0, 0, 0) !important; 
  border-bottom: 5px solid var(--highlight-color) !important; 
  
}

.card-text {
   color: var(--secondary-color) !important;
 }

 .card-title {
  color: var(--highlight-color) !important;
}


/* Skills section custom css*/

.skillicon {

  color: var(--highlight-color) !important;
 
}


/* Contact section custom css*/

.contact  {

color: var(--highlight-color) !important;
padding-left: 20%;
}

.contact i {

  color: var(--primary-color) !important;

}

.contact a {
  text-decoration: none;
  color: var(--secondary-color);
}

.contact a:hover {
  color: var(--highlight-color);
  text-decoration: underline;
}


/* Footer section custom css*/

.footer {
  background-color: var(--primary-color) !important;
}



